---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Features from "../components/Features.astro";
import CodeShowcase from "../components/CodeShowcase.astro";
import Renderers from "../components/Renderers.astro";
import GetStarted from "../components/GetStarted.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <Features />
    <Renderers />
    <CodeShowcase />
    <GetStarted />
  </main>
  <Footer />
</Layout>
